<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Udacity Item Catalog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/static/site.css" >
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block header %}
    {% endblock header %}
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Udacity Item Catalog</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      {% if WebPage.isLoggedIn %}
      <li><a href="/item/add">Add Item</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a href="{{WebPage.loginlink}}" class="pull-right">{{WebPage.logintext}}</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    {% block content %}
    {% endblock content %}
  </div>
</div>
<footer class="bg-info"><div class="container"><div class="row"><div class="col-sm-4 col-sm-offset-4 text-muted">Udacity Nanodegree project</div>
<div class="col-sm-4 text-muted"><a href="/json" target="_blank">json</a></div></div>
</div></footer>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>


